# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyz
*.pyw

# Virtual Environments
venv/
env/
.venv/
.penv/
pipenv/
**/.env


# Dependencies
/.idea/
/.vscode/
.DS_Store

# Data

# Passwords
/scripts/db_config.txt

# Errors
/scripts/error_log.txt