# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyz
*.pyw

# Virtual Environments
venv/
env/
.venv/
.penv/
pipenv/
**/.env


# Dependencies
/.idea/
/.vscode/
.DS_Store

# Data
/data/SNPedia
data/snp_database_backup_20230602_1200.sql

# Passwords
/scripts/db_config.txt

# Errors
/scripts/error_log.txt

# Logs
*.log
/scripts/*.log
/scripts/*checkpoint.txt

